{{ $title := site.Title }}
{{ with .Params.title }}
  {{ $title = printf "%s | %s" . site.Title }}
{{ end }}

{{ $og_image := "" }}
{{ with .Params.og_image }}
  {{ $path := printf "images/%s" .filename }}
  {{ with or (resources.Get $path) ($.Page.Resources.GetMatch $path) }}
    {{ $og_image = .Permalink }}
  {{ end }}
{{ end }}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ $title }}</title>
{{ with .Params.description }}<meta name="description" content="{{ . }}">{{ end }}
<meta property="og:type" content="website">
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:site_name" content="{{ site.Title }}">
{{ with $og_image }}<meta property="og:image" content="{{ . }}">{{ end }}
{{ with .Params.og_image.alt }}<meta property="og:image:alt" content="{{ . }}">{{ end }}
{{ with .Params.og_title }}<meta property="og:title" content="{{ . }}">{{ end }}
{{ with .Params.og_description }}<meta property="og:description" content="{{ . }}">{{ end }}