{{ define "main" }}
  <div class="{{ default "bg-gradient-to-r from-orange-100 via-lime-50 to-orange-100" .Site.Params.colors.bg_class }} w-full min-h-screen items-center justify-center flex flex-col">
    <h1 class="font-extrabold text-center text-[2.5rem] text-black/80 text-shadow-lg max-w-4xl">
      Ta stran ne obstaja :(
    </h1>
    <p class="text-shadow-xs">
      Vrni se na <a href="{{ .Site.Home.RelPermalink }}" class="text-sky-900 underline"> domačo stran</a>.
    </p>
  </div>
{{ end }}