{{ define "main" }}
   {{ $bg_class :=  .Params.colors.bg_class }}
   {{ $color_class := .Params.colors.color_class }}

  <!-- Nav bar -->
  {{ if .Params.navbar.enabled }}
    {{ $base_btn_class := printf "font-semibold text-base text-black/80 m-1 rounded-lg transition leading-none shadow-sm/25 border border-black/30 text-center focus-visible:border-%s focus-visible:ring-2 focus-visible:ring-%s/60 outline-none" $color_class }}
    {{ $highlighted_btn_class := (printf "%s px-4 py-3 animate-navbtnpulse hover:animate-none bg-%s" $base_btn_class .Params.navbar.colors.btn_active_clr_class) }}
    {{ $normal_btn_class := (printf "%s px-4 py-3 bg-%s hover:bg-%s" $base_btn_class .Params.navbar.colors.btn_clr_class .Params.navbar.colors.btn_active_clr_class) }}
    {{ $icon_btn_class := (printf "%s px-3.25 py-2.25 bg-%s hover:bg-%s" $base_btn_class .Params.navbar.colors.btn_clr_class .Params.navbar.colors.btn_active_clr_class) }}
    <nav 
      class="fixed bottom-0 w-full bg-black/30 backdrop-blur-xs border-t border-black/15 flex flex-wrap items-center justify-center p-1 shadow-[0_-8px_16px_rgba(0,0,0,0.2)]"
    >
      {{ range .Params.sections }}
        {{ if not .exclude_from_navbar }}
          <a 
            href="#{{ .title | anchorize }}"
            class="{{ cond .highlight $highlighted_btn_class $normal_btn_class }}"
          >
            {{ .title }}
          </a>
        {{ end }}
      {{ end }}
      <a href="#" class="{{ $icon_btn_class }}">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.8" stroke="currentColor" class="size-5.5">
          <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 10.5 12 3m0 0 7.5 7.5M12 3v18">
        </svg>
      </a>
    </nav>
  {{ end }}
  <!-- /Nav bar -->

  <!-- Banner -->
  {{ with .Params.banner }}
    <div class="{{ default $bg_class .bg_class }} w-full min-h-screen items-center justify-center flex flex-col pb-5 px-5">
      {{ with .image }}
        <img
          class="max-w-100"
          src="{{ (resources.Get (printf "images/%s" .filename) | resources.Minify).RelPermalink }}"
          fetchpriority="high"
          {{ with .alt }}alt="{{ . }}"{{ end }}
        >
      {{ end }}
      <h1 class="font-extrabold text-center text-[2.5rem] text-black/80 text-shadow-lg mb-4 max-w-4xl leading-10">
          {{ site.Title }}
      </h1>
      {{ range .text }}
        <p class="text-center py-1 max-w-4xl text-shadow-xs text-black/80 text-lg">
          {{ . }}
        </p>
      {{ end }}
      {{ with .badge }}
        <div class="items-center justify-center flex flex-wrap mt-8 max-w-4xl">
          {{ range . }}
            <span
              class="mx-1.5 my-1 px-3 py-1.5 bg-{{ .color }}/20 text-black/80 border border-black/20 rounded-xl shadow-sm text-center badge_markdown text-lg"
            >
              {{ with .title }}<b>{{ . }}</b>:{{ end }}
              {{ cond .is_markdown (.text | markdownify) .text }}
            </span>
          {{ end }}
        </div>
      {{ end }}
    </div>
  {{ end }}
  <!-- /Banner -->

  <!-- Sections -->
  <div class="{{ $bg_class }} px-5">
    {{ range .Params.sections }}
      <section id="{{ .title | anchorize }}" class="max-w-4xl mx-auto pt-40">
        <h2 class="font-bold text-center text-4xl text-shadow-sm">
          {{ .title }}
        </h2>
        <div class="bg-{{ $color_class }} h-0.5 w-20 rounded-sm mt-5 mb-14 mx-auto"></div>
        <div class="homepage_content">
          {{ .content | markdownify }}
        </div>
        {{ with .form }}
          <form
            method="POST"
            class="mt-12"
            {{ with .name }}name="{{ . }}"{{ end }}
            {{ if .netlify }}netlify{{ else }}action="{{ .action }}"{{ end }}
          >
            <div class="grid grid-cols-1 gap-6">
              {{ range .fields }}
                {{ $type := (default "text" .type) }}
                {{ if eq $type "checkbox" }}
                  <div class="inline-flex items-center">
                    <input
                      type="{{ $type }}"
                      id="{{ .name }}"
                      class="rounded hover:cursor-pointer shadow-sm border-black/20 text-white/40 checked:text-{{ $color_class }}/80 focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-{{ $color_class }}/50 transition"
                      name="{{ .name }}"
                      {{ if .required }}required{{ end }}
                    >
                    <label for="{{ .name }}" class="text-base pl-2 text-shadow-xs hover:cursor-pointer">
                      {{ .pretty_name }}
                    </label>
                  </div>
                {{ else }}
                  <div>
                    <label for="{{ .name }}" class="text-base text-black/70 font-semibold text-shadow-xs hover:cursor-pointer">
                      {{ .pretty_name }}
                    </label>
                    <input
                      type="{{ $type }}"
                      id="{{ .name }}"
                      name="{{ .name }}"
                      autocomplete="{{ .name }}"
                      class="mt-1 block w-full max-w-md px-3 py-2 bg-white/40 text-black/80 placeholder:text-black/30 border border-black/20 rounded-md shadow-sm focus-visible:border-{{ $color_class }}/70 focus-visible:ring focus-visible:ring-{{ $color_class }}/50 transition-colors outline-none"
                      {{ if .required }}required{{ end }}
                      {{ with .placeholder }}placeholder="{{ . }}"{{ end }}
                      {{ with .pattern }}pattern="{{ . }}"{{ end }}
                    >
                  </div>
                {{ end }}
              {{ end }}
            </div>
            <button
              type="submit"
              class="font-semibold mt-8 px-4 py-3 transition-colors hover:bg-{{ $color_class }}/5 leading-none hover:cursor-pointer shadow-sm bg-white/40 border border-black/20 rounded-md focus-visible:border-{{ $color_class }}/70 focus-visible:ring focus-visible:ring-offset-0 focus-visible:ring-{{ $color_class }}/50 outline-none"
            >
              {{ .submit_btn_text }}
            </button>
          </form>
        {{ end }}
      </section>
    {{ end }}
  </div>
  <!-- /Sections -->
{{ end }}