{{ define "main" }}
  <!-- Nav bar -->
  {{ with site.Menus.home }}
    <nav class="fixed bottom-0 w-full bg-black/40 backdrop-blur-xs border-t border-black/30 flex flex-wrap items-center justify-center p-1 shadow-[-1px_-4px_16px_0_rgba(0,0,0,0.3)]">
      {{ range . }}
        <a href="{{ .URL }}" class="{{ if .Params.highlight }}animate-pulse hover:animate-none {{ end }}font-bold text-black/80 m-1 px-4 py-3 rounded-lg transition bg-orange-200 hover:bg-amber-100 hover:text-black/90 leading-none shadow-lg/25 border border-black/45 text-center">
          {{ .Name }}
        </a>
      {{ end }}
    </nav>
  {{ end }}
  <!-- /Nav bar -->

  <!-- Banner -->
  {{ with .Params.banner }}
    <div class="{{ default $.Site.Params.bg_class .bg_class }} w-full min-h-screen items-center justify-center flex flex-col pb-5 px-5">
      {{ with .image }}
        <img
          class="max-w-100"
          src="{{ (resources.Get (printf "images/%s" .filename) | resources.Minify).RelPermalink }}"
          alt="{{ default "Image description not available" .alt }}"
        >
      {{ end }}
      {{ with .subtitle }}
        <p class="text-center font-light text-black/80 text-shadow-xs max-w-4xl">
          {{ . }}
        </p>
      {{ end }}
      <h1 class="font-extrabold text-center text-[2.5rem] text-black/80 text-shadow-lg mb-4 max-w-4xl leading-10">
          {{ $.Site.Title }}
      </h1>
      {{ with .text }}
        {{ range . }}
          <p class="text-center py-1 max-w-4xl text-shadow-xs text-black/80 text-lg">
            {{ . }}
          </p>
        {{ end }}
      {{ end }}
      {{ with .badge }}
        <div class="items-center justify-center flex flex-wrap mt-8 max-w-4xl">
          {{ range . }}
            <span class="bg-white/15 px-4 py-1 mx-1.5 my-1 text-black/80 rounded-xl shadow-xs shadow-black/30 text-shadow-xs border border-black/20 text-center text-lg badge_markdown">
              <b>{{ .title }}</b>:
              {{ .text | markdownify }}
            </span>
          {{ end }}
        </div>
      {{ end }}
    </div>
  {{ end }}
  <!-- /Banner -->
    
  <!-- Sections -->
  <div class="{{ $.Site.Params.bg_class }} px-5 pb-80">
    {{ range .Params.sections }}
      <section id="{{ .title | anchorize }}" class="max-w-4xl mx-auto pt-40">
        <h1 class="font-bold text-center text-4xl text-shadow-sm">
          {{ .title }}
        </h1>
        <div class="h-0.5 w-20 bg-amber-600 rounded-sm mt-5 mb-14 mx-auto"></div>
        <div class="homepage_markdown">
          {{ .content | markdownify }}
        </div>
      </section>
    {{ end }}
  </div>
  <!-- /Sections -->

  <!-- Form -->
  <!-- Form -->
{{ end }}