{{ define "main" }}
    <!-- Banner -->
    {{ with .Params.banner }}
        {{ with .image }}
            <img
                class=""
                {{ with .Resources.GetMatch "{{ .name }}" }} src="{{ .RelPermalink }}" {{ end }}
                {{ with.alt }} alt="{{ . }}" {{ end }}
            >
        {{ end }}
        {{ with .subtitle }}
            <p class="">
                {{ . }}
            </p>
        {{ end }}
        <h1 class="">
            {{ $.Site.Title }}
        </h1>
        {{ range .text }}
            <p class="">
                {{ . }}
            </p>
        {{ end }}
        {{ range .badge }}
            <p class="">
                <b>{{ .title }}</b>: {{ .text }}
            </p>
            </span>
        {{ end }}
    {{ end }}
    <!-- /Banner -->
    
    <!-- Sections -->
    {{ range .Params.sections }}
        <section id="{{ .title | urls.Anchorize }}" class="{{ .bg_class }} ">
            <h1 class="">
                {{ .title }}
            </h1>
            <div class="homepage_markdown">
                {{ .content | markdownify }}
            </div>
        </section>
    {{ end }}
    <!-- /Sections -->

    <!-- Form -->
    <!-- Form -->
{{ end }}